.formBG{
    background-color: rgb(245, 238, 238);
    width: 500px; 
}
.validator{
    background-color: rgb(221, 211, 208);
    font-size: 20px;
    color: rgb(255, 0, 0);
    text-align: center;
}
.loginTitle{
    background-color: rgb(245, 238, 238);
    text-align: center;
    font-weight: 700;
    font-family:cursive;
    font-size: 30px;

}
.signupTitle{
    background-color: rgb(245, 238, 238);
    text-align: center;
    font-weight: 700;
    font-family:cursive;
    font-size: 20px;
}
