.message{
    display: flex;
    flex-direction: column;
}

.messageText {
    width: auto;
    height: 40px;
    background-color: black;
    color: rgb(0, 0, 0);
    padding: 5px;
    position: relative;
    margin: 15px;
    border-radius: 5px;
}
.messageText.own {
    background-color: rgb(128, 226, 174);
}
.messageText.other {
    background-color: rgb(255, 255, 255);
}

.messageText.arrow-right:after {
    content: " ";
    position: absolute;
    right: -10px;
    top: 10px;
    border-top: 10px solid transparent;
    border-right: none;
    border-left: 10px solid rgb(128, 226, 174);
    border-bottom: 10px solid transparent;
    
  }

  .messageText.other.arrow-left:after {
    content: " ";
    position: absolute;
    left: -10px;
    top: 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid rgb(255, 255, 255);
    border-left: none;
    border-bottom: 10px solid transparent;
  }

  .message.own{
    align-items: flex-end;
    background-color: rgb(33, 43, 75);
    /* border-radius: 5px 5px 5px 5px; right-top left-top right-bottom left-bottom */
    width: auto;
    text-align: end;
    
}
.message.other{
    align-items: flex;
    /* overflow-y: auto; */
    background-color: rgb(33, 43, 75);
    /* border-radius: 5px 5px 5px 5px; right-top left-top right-bottom left-bottom */
    width:fit-content;
    /* padding: 20px; */
}