.message{
    display: flex;
    flex-direction: column;
}
.messageTop{
    display: flex;
}
.messageText{
    width: auto;
    border-radius: 5px;
    margin: 20px 12px 2px 20px;
    width: auto;
    padding: 5px;
    background-color: blueviolet;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(17, 16, 16);
    /* margin: 0 12px 2px 0; */
    border-radius: 50%;
    margin-top: 20px;
    display: inline-block;
  }
.message.own{
    align-items: flex-end;
    background-color: aqua;
    /* border-radius: 5px 5px 5px 5px; right-top left-top right-bottom left-bottom */
    width: auto;
    text-align: end;
}
.message.other{
    align-items: flex;
    /* overflow-y: auto; */
    background-color: aqua;
    /* border-radius: 5px 5px 5px 5px; right-top left-top right-bottom left-bottom */
    width:fit-content;
    /* padding: 20px; */
}

.message.own .messageText{
    background-color: aquamarine;
    color: black;
}