.convoID{
    background-color: rgb(255, 255, 255);
    /* border-radius: 5px;
    border-width: 5px;
    border-color: chocolate; */
   padding: 5px 0 5px 10px;
   font-weight: bold;
}

.convoID:hover{
    background-color: rgb(96, 96, 99);
    cursor: pointer;
}