.convoID{
    display: inline-block;
    width: 193px;
    background-color: rgb(255, 255, 255);
    padding: 0 0 0 5px;
    border-radius: 2px;
}

.convoID:hover{
    background-color: rgb(22, 120, 206);
    cursor: pointer;
}
.convoID-extender{
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: 0 0 0 5px;
    padding-left: 2px;
}

.convoID-extender:hover{
    background-color: rgb(22, 120, 206);
    cursor: pointer;
}
.displayAsText{
    background-color: rgb(3, 83, 89);
    color: aliceblue;
    margin-left: 2px;
    padding: 0 5px 0 5px;
    border-top-left-radius: 5px;
}