.messenger-box2{
    min-height: 100%;
    /* background-color: bisque; */
}
.messenger-box2-decrese{
    width: fit-content;
    height: fit-content;
}
.messenger-box2-extend{
    width: fit-content;
    height: fit-content
}
.chatmenu{
    float: right;
    margin-right: 5px;
    background-color: rgb(41, 55, 100);
    color: rgb(255, 255, 255);
}
.chatmenu:hover{
    cursor: pointer;
}

.convo-sideBar{
    background-color: rgb(0, 36, 53);
    height: 500px;
    border-radius: 5px;
    padding: 5px;
    /* margin: 2px; */
}
.convo-sideBar-extend{
    width: 300px;
    height: 500px;
    background-color: rgb(0, 36, 53);
    padding: 5px;
    border-radius: 10px;
}
.searchUser{
    width: 193px;
    background-color: antiquewhite;
    padding-left: 5px;
    /* border-radius: 2px; */
    border-color: brown;
    border: 2px solid rgb(22, 106, 216);
    border-radius: 5px;
}
.searchUser-extend{
    width: 290px;
    background-color: rgb(108, 195, 245);
    border-radius: 5px;
    border-color: brown;
    border: 2px solid rgb(22, 106, 216);
}
.seperateConvo-extend{
    /* width: auto; */
    background-color: white;
    border-radius: 5px;
}
.seperate-convo{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 2px;
}
.set-conv{
    background-color: rgb(0, 36, 53);
}
.convo-sideBar-hide{
    display: none;
}
.msg-box{
    height: 512px;
    width: 400px;
    border-radius: 10px;
    margin-left: 2px;
}
.msgHeader{
    border-radius: 5px 5px 0 0;
    background-color: rgb(41, 55, 100);
}
.goBackBtn{
    border-radius: 5px 5px 5px 5px;
    margin: 2px;
}
.convo-decrease{
    overflow-y: auto;
    height: 81%;
    
}
.convo{
    overflow-y: auto;
    height: 85.55%;
    background-color: rgb(33, 43, 75);
}
.scroller{
    background-color: rgb(33, 43, 75);
}
.msgButton{
    height: 40px;
}
.sendMsg{
    height: 38px;
    border-bottom-left-radius: 5px;
    width: 89.66%;
    border: 1px solid rgb(78, 76, 76);
    background-color: white;
    resize: none;
}
.send-btn{
    border-bottom-right-radius: 5px;
    width: 42px;
    height: 38px;
    border: 1px solid rgb(78, 76, 76);
    background-color: rgb(33, 43, 75);
}
.NoChatChoosen{
    background-color: rgb(33, 43, 75);
    width: 400px;
    height: 500px;
    border-radius: 5px;
    margin-left: 2px;
}
.sendMsg:focus{
    outline: 0;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(33, 43, 75);
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgb(33, 43, 75) ,rgb(0, 174, 255), yellow);
    border-radius: 25px;
}